- name: Initialize Kubernetes cluster
  command: >
    kubeadm init
    --control-plane-endpoint "{{ groups['masters'][0] }}:6443"
    --upload-certs
    --apiserver-cert-extra-sans="{{ groups['masters'] | join(',') }}"
  args:
    creates: /etc/kubernetes/admin.conf
  when: inventory_hostname == groups['masters'][0]


- name: Create .kube directory for root
  file:
    path: /root/.kube
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: inventory_hostname in groups['masters']

- name: Create symlink for kubeconfig
  file:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    state: link
    owner: root
    group: root
  when: inventory_hostname in groups['masters'][0]
