- name: "Download CRI"
  apt:
    name:
      - containerd
    state: present

- name: Create containerd config directory
  file:
    path: /etc/containerd
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Generate default containerd config
  command: containerd config default
  register: containerd_cfg
  changed_when: false

- name: Write containerd config
  copy:
    content: "{{ containerd_cfg.stdout }}"
    dest: /etc/containerd/config.toml

- name: Set SystemdCgroup to true
  replace:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup = false'
    replace: 'SystemdCgroup = true'

- name: Restart containerd
  service:
    name: containerd
    state: restarted