- name: ==== Fetch kubeconfig to local =======
  block:
  - name: Check if kubeconfig exists locally
    stat:
      path: ~/.kube/config
    register: local_kubeconfig
    delegate_to: localhost
    become: no
    run_once: true


- name: Fetch kubeconfig from master
  fetch:
    src: /etc/kubernetes/admin.conf
    dest: "{{ local_kubeconfig_path }}"
    flat: yes
  when: not local_kubeconfig.stat.exists
  delegate_to: "{{ groups['masters'][0] }}"
