- name: Load br_netfilter module
  command: modprobe br_netfilter
  become: yes

- name: Enable net.bridge.bridge-nf-call-iptables
  command: sysctl -w net.bridge.bridge-nf-call-iptables=1
  become: yes

- name: Enable net.bridge.bridge-nf-call-ip6tables
  command: sysctl -w net.bridge.bridge-nf-call-ip6tables=1
  become: yes

- name: Enable net.ipv4.ip_forward
  command: sysctl -w net.ipv4.ip_forward=1
  become: yes

- name: Persist sysctl settings for Kubernetes
  copy:
    dest: /etc/sysctl.d/99-k8s.conf
    content: |
      net.bridge.bridge-nf-call-iptables = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward = 1
    owner: root
    group: root
    mode: '0644'
  become: yes

- name: Reload sysctl
  command: sysctl --system
  become: yes
